<div class="text-main">
  <router-outlet></router-outlet>
</div>


<!-- <ngx-spinner
  [disableAnimation]="true"
  bdColor="rgba(0, 0, 0)"
  size="medium"
  color="#fff"
  [zIndex]="9999"
  type="ball-scale-multiple">
  <img src="./assets/images/favicon.svg" alt="FPICO" />
</ngx-spinner> -->

<ngx-spinner name="square-jelly-box" [disableAnimation]="true" bdColor="rgba(0, 0, 0,0.75)" size="medium" color="#fff"
  [zIndex]="9999" type="square-jelly-box">
  <p class="text-white">Loading ...</p>
</ngx-spinner>