<div [ngClass]="positionClasses" class="advertising__container overflow-hidden">
  <img
    class="d-block"
    [ngStyle]="{ width: imageWidth }"
    src="./assets/images/new_logos/blue_text.png"
    alt="اصداء الخليج"
  />
  <div class="d-flex align-items-center justify-content-center">
    <p class="mb-0 me-2">مساحة اعلانية</p>
  </div>
  <a
    routerLink="/contact-us"
    href="#"
    class="btn btn-main px-3 text-center"
    style="text-align: center !important"
    >اعلن معنا الان</a
  >
</div>
