<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /El_Khaleeg/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /El_Khaleeg/index.html [L]
</IfModule>
